<h1 style="text-align: center;">Login</h1>

<div style="text-align: center;">
  <!-- <label for="email">Email: </label>
  <input type="text" id="email" name="email" class="input-box">

  <br>
  <br>

  <label for="password">Password: </label>
  <input type="password" id="password" name="password" class="input-box">

  <br>
  <br>

  <button style="margin:5px;">Login</button> 
  <button style="margin:5px;">Sign up</button>  -->


    <form (ngSubmit)="login()" #userForm="ngForm">
        <label for="email">Email:</label><br>
        <input type="email" id="email" required [(ngModel)]="email" name="email" #name="ngModel"><br>
    
        <label for="password">Password:</label><br>
        <input type="text" id="password" required [(ngModel)]="password" name="password" #name="ngModel"><br>
        <button type="submit">Log in</button>
        <button routerLink="/signup">Sign up</button>
    </form>
</div>