<html>
    <body>
        <div class="container">
            <!-- <img id="myimg" src="" alt="" class="image" /> -->
            <img src={{imageUrl}} alt="">

            <div class="comments">
                <div *ngFor="let comment of comments">
                    <div class="comment">
                        <div class="comment-author">{{comment.user_id}}</div>
                        {{comment.text}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let tag of tags" class="tags">
            <a class="tag" href="/{{tag}}">{{tag}}</a>
        </div>
        <div class="postButtons">
            <span><button (click)="showLikes()">{{likes}} ♥ likes</button></span>
            <span class="button"><button (click)="addComment()">add comment</button></span>
            <span *ngIf="userAccess" class="button"><button (click)="deletePost()">delete</button></span>
        </div>
    </body>
</html>
