
<h1 style="text-align: center;">{{title}}</h1>
  <table style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr>
        <th style=" padding: 10px; text-align: left;"></th>
        <th style="border-bottom: 2px solid #ddd; padding: 8px; text-align: left;">Rank</th>
        <!-- <th style="border-bottom: 2px solid #ddd; padding: 8px; text-align: left;">Name</th>
        <th style="border-bottom: 2px solid #ddd; padding: 8px; text-align: left;">Score</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td style="padding: 10px; text-align: left;"></td>
        <td style="border-bottom: 1px solid #ddd; padding: 8px; text-align: left;">{{ i + 1 }} {{user}}</td>
        <!-- <td style="border-bottom: 1px solid #ddd; padding: 8px; text-align: left;">{{ item.name }}</td>
        <td style="border-bottom: 1px solid #ddd; padding: 8px; text-align: left;">{{ item.score }}</td> -->
      </tr>
    </tbody>
  </table>

