<h1>{{username}}</h1>
<ul>
    <li *ngFor="let album of albums">
        <a routerLink="/album/{{album.album_id}}">{{album.name}}</a>
    </li>
</ul>

<button type="button" (click)="addAlbumClick()">Add Album</button>


<div *ngIf="addAlbumClicked">
    <h3>Add Album</h3>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <label for="name">Album Name:</label><br>
        <input type="text" id="name" required [(ngModel)]="newAlbum.name" name="name" #name="ngModel"><br>
        <button type="submit">Add</button>
    </form>
</div>

<app-friends (username)='username'></app-friends>

<ul>
    <a *ngFor="let friend of recommendedFriends" routerLink="/friend/{{friend.user_id}}">{{friend.user_id}}</a>
</ul>
